<app-navbar></app-navbar>

<div class="container">
    <h2 class="text-primary">Sign Up</h2>
    <form #signupform="ngForm" (ngSubmit)="SignUp()">
        <div class="input-container">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" placeholder="Enter Name" name="name"
                [(ngModel)]="User.name" #name="ngModel" [class.is-invalid]="name.invalid&&name.touched" required
                pattern="^[A-Za-z\s'-]+$">
            <small class="text-danger" [class.d-none]="name.valid || name.untouched">Name is required and should contain
                only alphabets</small>
        </div>
        <div class="input-container">
            <label for="username">Email / Username</label>
            <input type="email" class="form-control" id="username" placeholder="Enter Email/Username" name="username"
                [(ngModel)]="User.email" #username="ngModel" [class.is-invalid]="username.invalid&&username.touched"
                required pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
            <small class="text-danger" [class.d-none]="username.valid || username.untouched">Email is required and
                should be valid</small>
        </div>
        <div class="input-container">
            <label for="phoneNumber">Phone Number</label>
            <input type="tel" id="phoneNumber" name="phoneNumber" placeholder="Enter Phone Number"
                [(ngModel)]="User.phonenumber" #phoneNumber="ngModel"
                [class.is-invalid]="phoneNumber.invalid&&phoneNumber.touched" required pattern="^\d{10}$">
            <small [class.d-none]="phoneNumber.valid || phoneNumber.untouched" class="text-danger">Phone Number is
                required and should be 10 digits</small>

        </div>
        <div class="input-container">
            <label for="password">Password</label>
            <input type="password" id="password" class="form-control" placeholder="Password" name="password"
                [(ngModel)]="User.password" #password="ngModel" [class.is-invalid]="password.invalid&&password.touched"
                required pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$">
            <small class="text-danger" [class.d-none]="password.valid || password.untouched">Should consists of
                alphabets, numbers and atleast 8 characters </small>
        </div>
        <div class="input-container">
            <label for="confirmPassword">Confirm Password</label>
            <input type="password" id="confirmPassword" name="confirmPassword" placeholder="Confirm Password"
                [(ngModel)]="User.confirmPassword" #confirmPassword="ngModel"
                [class.is-invalid]="confirmPassword.invalid&&confirmPassword.touched" required
                pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$">
            <small [class.d-none]="confirmPassword.valid || confirmPassword.untouched" *ngIf="confirmPassword.touched"
                class="text-danger">Field cannot be empty </small>
            <small [class.d-none]="User.confirmPassword===''"
                *ngIf="isconfirmPasswordInvalid() && User.confirmPassword!==''" class="text-danger">Passwords do not
                match</small>
        </div>

        <button type="submit" [disabled]="signupform.invalid || isconfirmPasswordInvalid()">Sign Up</button>
    </form>
</div>
<br><br>

<app-footer></app-footer>
<app-min-footer></app-min-footer>