body {
    background-color: transparent;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.form-container {
    background-color: transparent;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.2);
    width: 550px;
    margin: 20px;
    animation: fadeIn 0.5s ease-in-out;
    margin-left: 230px;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.form-container h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
}

label {
    font-weight: bold;
    color: #555;
    display: block;
    margin-bottom: 5px;
    transition: color 0.3s;
}

input[type="text"],
select {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    transition: border-color 0.3s;
}

.submit-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 12px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s;
}

.submit-button:hover {
    background-color: #0056b3;
}

.form-group:hover label {
    color: #007bff;
}

.form-group:hover input[type="text"],
.form-group:hover select {
    border-color: #007bff;
}