<div class="search-bar">
    <input type="text" [(ngModel)]="searchMovie" placeholder="Search Movies ">
</div>
<div class="container mt-5 px-2">
    <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6 col-12" *ngFor="let movie of list | search:searchMovie">
            <div class="card">
                <a class="text-decoration-none text-dark" [routerLink]="['/UserDash/moviedetail', movie._id]">
                    <div class="card-body">
                        <img [src]="movie.image" class="card-img-top" alt="...">
                        <h6>{{movie.moviename}}</h6>
                        <h6>{{movie.category}} , {{movie.languages}}</h6>
                        <h6>Average Rating: {{ movie.averageRating }}</h6>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
<router-outlet></router-outlet>