<div class="d-flex justify-content-between">
    <button class="btn" ><i class="bi bi-backspace-fill" style="font-size: 2rem; color: cornflowerblue;" routerLink="/AdminDash/movie-fetch"></i> </button>
  </div>


<div class="form-container">
    <h2 class="text-bg-success">Add Movies </h2>
    <form (submit)="onSubmit(movieForm)" #movieForm="ngForm" enctype="multipart/form-data">
        <div class="form-group">
            <label for="moviename">Movie Name:</label>
            <input type="text" id="moviename" name="moviename" ngModel required>
        </div>
        <div class="form-group">
            <label for="category">Category:</label>
            <select id="category" name="category" ngModel required>
                <option value="UA">UA</option>
                <option value="A">A</option>
                <option value="PG">PG</option>
            </select>
        </div>
        <div class="form-group">
            <label for="languages">Language:</label>
            <select id="languages" name="languages" ngModel required>
                <option value="Malayalam">Malayalam</option>
                <option value="Hindi">Hindi</option>
                <option value="Tamil">Tamil</option>
                <option value="Telugu">Telugu</option>
                <option value="English">English</option>
            </select>
        </div>
        <div class="form-group">
            <label for="cast">Cast:</label>
            <input type="text" id="cast" name="cast" ngModel required>
        </div>
        <div class="form-group">
            <label for="description">Description:</label>
            <input type="text" id="description" name="description" ngModel required>
        </div>
        
        <div class="form-group">
            <label for="time">Show Time:</label>
            <input type="time" id="time" name="time" ngModel required>
        </div>
        <div class="form-group">
            <label for="screen">Screen:</label>
            <input type="text" id="screen" name="screen" ngModel required>
        </div>
        <div class="form-group">
            <label for="rates">Rates:</label>
            <input type="number" id="rates" name="rates" ngModel required>
        </div>
        <div class="form-group">
            <label for="seats">Seats:</label>
            <input type="number" id="seats" name="seats" ngModel required>
        </div>
        <div class="form-group">
            <label for="image">Image:</label>
            <input type="file" id="image" name="image" (change)="onFileSelected($event)" accept="image/*" ngModel required >
        </div>
        <button type="submit" class="submit-button">Submit</button>
    </form>
</div>
