<div class="d-flex justify-content-between">
    <button class="btn"><i class="bi bi-backspace-fill" style="font-size: 2rem; color: cornflowerblue;"
            routerLink="/AdminDash/movie-fetch"></i> </button>
</div>
<div class="container mt-4 px-2">
    <div class="row">
        <div class="col-3" *ngFor="let ticket of bookedTickets">
            <div class="card mb-4" style="width: 16rem; height: 12rem;">
                <div class="card-body">
                    <br>
                    <h5 class="card-title text-center">User: {{ticket.name}}</h5>
                    <h6 class="card-text">Email: {{ticket.username}}</h6>
                    <h6 class="card-text">Movie Name: {{ticket.moviename}}</h6>
                    <h6 class="card-text">Screen: {{ticket.screen}}</h6>
                    <h6 class="card-text">Time: {{ticket.time}}</h6>
                    <h6 class="card-text">Seat Number: {{ticket.seatNumber}}</h6>
                </div>
            </div>
        </div>
    </div>
</div>