<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark bg-gradient">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                <div class="d-flex  pb-3 mb-md-0 me-md-auto text-white text-decoration-none ">
                    <div class="flex-row">
                        <br>
                        <a href="#" class="nav-link">
                            &nbsp; &nbsp; &nbsp; &nbsp;<img src="/assets/ticketmasterlogo.png" alt="" height="50px"
                                width="80px">
                        </a>
                    </div>
                </div>
                <div class="row py-3">
                    <a routerLink="/AdminDash" style="text-decoration:none">
                        <span class="fs-6 font-weight-semi-bold d-sm-inline">
                            <span id="facultyName">ADMIN</span> <!--Name of the user-->
                            DASHBOARD</span>
                    </a>
                </div>
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                    <li class="nav-item active">
                        <a routerLink="/AdminDash/movie-fetch" class="nav-link align-middle text-light px-0">
                            <button style="background-color: transparent;border:none;padding:2px">
                                <i class='fa fa-film' style="font-size:1.3rem;color:white"></i>
                            </button>
                            <span id="reqform" class="ms-1 d-none d-sm-inline"><i
                                    class="bi bi-grid-1x2-fill"></i>&nbsp;&nbsp;Dashboard</span>
                        </a>
                    </li>
                    <li class="nav-item active">
                        <a routerLink="/AdminDash/movie-fetch/add-movies" class="nav-link align-middle text-light px-0">
                            <button style="background-color: transparent;border:none;padding:2px">
                                <i class='fa fa-film' style="font-size:1.3rem;color:white"></i>
                            </button>
                            <span id="reqform" class="ms-1 d-none d-sm-inline"><i
                                    class="bi bi-plus-circle-fill"></i>&nbsp;&nbsp;Add Movies</span>
                        </a>
                    </li>
                    <li class="nav-item active">
                        <a routerLink="/AdminDash/bookings" class="nav-link align-middle text-light px-0">
                            <button style="background-color: transparent;border:none;padding:2px">
                                <i class='fa fa-film' style="font-size:1.3rem;color:white"></i>
                            </button>
                            <span id="reqform" class="ms-1 d-none d-sm-inline"><i
                                    class="bi bi-ticket-perforated-fill"></i>&nbsp;&nbsp;Bookings</span>
                        </a>
                    </li>
                </ul>

                <div class="signout">
                    <a class="d-flex align-items-center text-white text-decoration-none" (click)="logout()">
                        <button style="background-color: transparent;border:none;padding:2px">
                            <i class='fa fa-film' style="font-size:1.3rem;color:white"></i></button>
                        <span class="d-none d-sm-inline mx-1 "><i class="bi bi-door-closed-fill"></i>&nbsp;&nbsp;Sign
                            out</span>
                    </a>
                </div>
                <br><br>
            </div>
        </div>

        <div class="col py-3 text-center">
            <router-outlet></router-outlet>
        </div>
        <br>
    </div>
    <app-min-footer></app-min-footer>
</div>